body{
    background-color: black;
    color:white;
    
}
header{
    background-color: black;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-family: cursive;
    color:maroon;
}
section{
    background-color:maroon;
    font: size 5px;
    text-align: center;
    padding: 10px;
    color:white;

}
.flex-container{
    display:flex;
    flex-direction: column;
    background-color: white;
    color:black
    
}
.flex-container>div{
    height:1000px;
    padding:10px

}
footer{
    background-color: maroon;
    font-size:10px;
    padding: 10px;
    color:white; 
    text-align: center;
}
